// Общие стили
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 0;
  user-select: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

// accordion

.accordion-item {
  margin-bottom: 20px;
}

.accordion-item--active .accordion-item__trigger {
  background-color: #ccc;
}

.accordion-item--active .accordion-item__content {
  display: block!important;
}

.accordion-item__trigger {
  padding: 20px;
  border: 1px solid black;
}

.accordion-item__content {
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  display: none;
}




